<html>
  <head>
    <style>
      * {
	  font-family: courier new;
      }
      
      .text-center {
	  text-align: center;
      }
    </style>
  </head>

  <body>

    <h1>Report for {{target}}</h1>
    <h2>Web sites:</h2>
    <table border="1" cellspacing="0" cellpadding="4">
      <thead>
	<th>URL</th>
	<th>Server</th>
	<th>CMS</th>
      </thead>
      <tbody>
	{% for site in sites %}
	<tr>
	  <td><a href="{{ site.url }}">{{ site.url }}</a>{% if site.redirect != '' %} ➔ <a href="{{ site.redirect }}">{{ site.redirect }}</a>{% endif %}</td>
	  <td class="text-center">{{ site.server }}</td>
	  <td class="text-center">{{ site.cms }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>


    <h2>Wordpress users:</h2>
    <table border="1" cellspacing="0" cellpadding="4">
      <thead>
	<th>URL</th>
	<th>Username</th>
      </thead>
      <tbody>
	{% for user in wp_users %}
	<tr>
	  <td><a href="{{ user.site }}">{{ user.site }}</a></td>
	  <td class="text-center">{{ user.username }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    
  </body>

</html>
